<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName required minlength="{{minNameLength}}" [formControl]="newHeroName"/>
  <div *ngIf="newHeroName.invalid && (newHeroName.touched || newHeroName.dirty)">
    <div *ngIf="newHeroName.errors?.['required']" class="alert">
      The hero name can not be empty.
    </div>
    <div *ngIf="newHeroName.errors?.['minlength']" class="alert">
      The hero name must have at least {{minNameLength}} characters.
    </div>          
    <div *ngIf="newHeroName.errors?.['forbiddenValueError']" class="alert">
      Hero name taken taken. Please choose another value.
    </div>    
  </div>  

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(heroName.value); heroName.value = ''"
  >
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete hero"
      (click)="delete(hero)"
    >
      x
    </button>
  </li>
</ul>
